
main > .jumbotron#page-header {
    background-repeat: no-repeat;
    background-position: center 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('~@/assets/img/jumbotron_bg.png');
}

main > .main-container {
    @extend .container;
    padding: 0;
    background-color: #f9f9f9;
    @include shadow();
}

small, .small {
    color: inherit !important;
}

hr {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}