/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml

# dotenv
.env

# client
/node_modules
npm-debug.log
yarn-error.log
/public/static
/resources/views/*.blade.php
